// width of window
$width: 200px;
$button-height: 30px;

@mixin variables {
    --number-of-buttons: 0;
    --window-height: calc((#{$button-height} + 10px) * var(--number-of-buttons) + 10px);
}

@mixin root {
    display: block;

    width: 40px;
    height: 40px;
}

@mixin icon {
    display: block;

    width: 100%;
    height: 100%;

    color: var(--highlight-dark-text-color);
    font-family: $font-google-icons;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
}

@mixin wrap {
    display: block;
    overflow: visible;

    width: 100%;
    height: 0px;
}

// drop down menu window
@mixin container {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 100;

    left: calc(($width - 50px) * -1);

    width: $width;
    height: 0px;

    border-radius: 5px;

    box-shadow: 4px 4px 5px black;
    transition: all 0.3s;
}

@mixin container-hover {
    height: var(--window-height);
}

@mixin window {
    display: block;

    width: $width;
    height: var(--window-height);

    padding: 5px 10px;

    background-color: var(--background-color);
}

@mixin button {
    display: block;

    width: 100%;
    height: 30px;

    border-radius: 3px;

    padding-left: 5px;

    margin: 5px 0px;

    line-height: 30px;

    &:hover {
        background-color: var(--header-background-color);
        color: var(--highlight-dark-text-color);
    }
}

.account-button {
    @include variables();
    @include root();
    > .icon {
        @include icon();
    }
    > .wrap {
        @include wrap();
        > .container {
            @include container();
            > .window {
                @include window();
                > .button {
                    @include button();
                }
            }
        }
    }
}

.account-button:hover {
    > .wrap {
        > .container {
            @include container-hover();
        }
    }
}
