@mixin root {
    display: block;
    width: 100%;
    height: auto;

    padding: 10px 0px;
}

@mixin a {
    display: block;
    width: 100%;
    height: auto;
}

@mixin img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@mixin picture {
    display: block;
    width: 100%;
    height: auto;

    > img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

.banner {
    @include root();
    > a {
        @include a();
        > img {
            @include img();
        }
        > picture {
            @include picture();
        }
    }
}
