$height: 60px;
@mixin root {
    display: block;
    position: relative;
    z-index: 10;

    width: 100vw;
    height: $height;

    margin-bottom: 5px;
}

@mixin wrap {
    display: block;
    position: fixed;

    top: 0px;
    left: 0px;

    width: 100vw;
    height: $height;
    background-color: var(--header-background-color);
}

@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

@mixin container-search-focus {
    justify-content: flex-end;
}

@mixin search {
    --lapis-search-background-color: var(--background-color);
    --lapis-search-button-background-color: var(--header-background-color);
    --lapis-search-width: calc(100% - 70px);
}

@mixin search-focus {
    --lapis-search-width: 100%;
    transition: all 0.3s;
}

.header {
    @include root();
    > .wrap {
        @include wrap();
        > .container {
            @include container();
            > .search {
                @include search();
            }
        }
    }
}

.header.search-focus {
    > .wrap {
        > .container {
            @include container-search-focus();
            > .search {
                @include search-focus();
            }
        }
    }
}
