@mixin root {
    display: block;
    position: sticky;
    z-index: 10;

    top: 0px;

    width: 100%;
    height: 80px;

    margin-bottom: 10px;
}

@mixin wrap {
    display: block;
    position: relative;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 80px;
    background-color: var(--header-background-color);
}

@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

@mixin search {
    --lapis-search-background-color: var(--background-color);
    --lapis-search-button-background-color: var(--header-background-color);
    --lapis-search-width: 500px;
}

.header {
    @include root();
    > .wrap {
        @include wrap();
        > .container {
            @include container();
            > .search {
                @include search();
            }
        }
    }
}
