@mixin root {
    display: block;
    position: sticky;
    z-index: 10;

    top: 0px;

    width: 100%;
    height: 80px;

    margin-bottom: 10px;
}

@mixin wrap {
    display: block;

    width: 100%;
    height: 80px;
    background-color: var(--header-background-color);
}

@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

@mixin container-search-focus {
    justify-content: flex-end;
}

@mixin search {
    --lapis-search-background-color: var(--background-color);
    --lapis-search-button-background-color: var(--header-background-color);
    --lapis-search-width: calc(100% - 250px);
    max-width: 500px;
}

@mixin search-focus {
    width: 80%;
    max-width: unset;
    transition: all 0.3s;
}

.header {
    @include root();
    > .wrap {
        @include wrap();
        > .container {
            @include container();
            > .search {
                @include search();
            }
        }
    }
}

.header.search-focus {
    > .wrap {
        > .container {
            @include container-search-focus();
            > .search {
                @include search-focus();
            }
        }
    }
}
