@import '../../../styles/globals-scss-variables.scss';

@import './styles/devices/all.scss';

@media screen and (max-width: $max-width-extra-small-devices) {
    @import './styles/devices/extra-small.scss';
}

@media screen and (min-width: $min-width-small-devices) and (max-width: $min-width-medium-devices) {
    @import './styles/devices/small.scss';
}

@media screen and (min-width: calc((260px*3)/90*100)) and (max-width: $min-width-large-devices) {
    @import './styles/devices/medium.scss';
}

@media screen and (min-width: $min-width-large-devices) and (max-width: $min-width-extra-large-devices) {
    @import './styles/devices/large.scss';
}

@media screen and (min-width: $min-width-extra-large-devices) {
    @import './styles/devices/extra-large.scss';
}
