@mixin root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin images-slider {
    width: 40%;
}

@mixin detail {
    width: calc(60% - 20px);
}

@mixin article-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row-reverse;

    width: 100%;
    height: auto;

    margin-top: 50px;
    > .article {
        display: block;
        width: calc(100% - 500px);
    }
    > .specification {
        display: block;
        width: 450px;

        > .elmnt {
            position: sticky;
            top: 100px;
        }
    }
}

.product-wrap {
    @include root();
    > .images-slider {
        @include images-slider();
    }
    > .detail {
        @include detail();
    }
    > .article-container {
        @include article-container();
    }
}
