@mixin root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin images-slider {
    width: 100%;
}

@mixin detail {
    width: 100%;
}

.product-wrap {
    @include root();
    > .images-slider {
        @include images-slider();
    }
    > .detail {
        @include detail();
    }
}
