@mixin root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //
    width: auto;
    height: 50px;
}

@mixin button {
    margin-right: 50px;
    &:last-child {
        margin-right: 0px;
    }
}

.buttons {
    @include root();
    > .button {
        @include button();
    }
}
