@mixin list-products-in-cart {
    display: block;
    float: left;

    width: calc(100% - 510px);
    height: auto;
}

@mixin list-customer {
    position: sticky;
    float: right;

    top: 100px;

    width: 500px;
    height: 300px;

    margin-top: 10px;
    margin-bottom: 102px;
}

@mixin total {
    float: right;
    position: sticky;

    // top: 410px;
    bottom: 0px;

    width: 100%;
}

.cart-wrap {
    display: block;

    width: 100%;
    height: auto;
    > div {
        display: block;

        width: 100%;
        height: auto;
        > .list-products-in-cart {
            @include list-products-in-cart();
        }
        > .list-customer {
            @include list-customer();
        }
        > .total {
            @include total();
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 0px;
            // background-color: blue;
            clear: both;
        }
    }
}
