@mixin list-products-in-cart {
    display: block;

    width: 100%;
    height: auto;
}

@mixin info-customer-and-total {
    // display: block;

    // width: 100%;
    // height: auto;
}

@mixin total {
    position: sticky;
    bottom: 60px;
}

.cart-wrap {
    display: block;

    width: 100%;
    height: auto;
    > div {
        display: block;

        width: 100%;
        height: auto;
        > .list-products-in-cart {
            @include list-products-in-cart();
        }
        // >.info-customer-and-total{
        //     @include info-customer-and-total();
        // }
        > .total {
            @include total();
        }
    }
}
