@mixin root {
    display: block;
    // overflow: hidden;

    height: 50px;
    width: 50px;

    color: var(--highlight-dark-text-color);

    user-select: none;
    cursor: default;
}

@mixin logo-image-wrap {
    $logo-image-hight: calc($logo-height - 10px);
    display: block;

    width: 100%;
    height: 100%;

    > .logo-image {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        padding: 0px;

        font-family: $font-google-icons;
        font-size: calc($logo-image-hight * 0.9);
        line-height: $logo-image-hight;
        font-weight: bold;
    }
}

@mixin web-name {
    display: none;
}

// @mixin btn-display-categories {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     height: 100%;

//     border: none;
//     outline: none;

//     padding: 0px;
//     padding-left: 20px;

//     color: inherit;
//     font-size: 1.1rem;

//     background-color: transparent;

//     >.btn-icon{
//         font-family: $font-google-icons;
//         padding-right: 5px;
//         font-size: 1.3rem;
//     }
// }

.logo {
    @include root();
    > .logo-image-wrap {
        @include logo-image-wrap();
    }
    > .web-name {
        @include web-name();
    }
    // >.btn-display-categories{
    //     @include btn-display-categories();
    // }
}

.logo.hide {
    display: none;
}
