@mixin root {
    display: block;

    width: auto;
    height: $logo-height;

    color: var(--highlight-dark-text-color);

    user-select: none;
    cursor: pointer;
}

@mixin logo-image-wrap {
    $logo-image-hight: calc($logo-height - 10px);

    display: block;
    float: left;

    width: 55px;
    height: 100%;

    padding: 5px 10px 5px 0px;

    > .logo-image {
        display: block;

        // width: $logo-height;
        height: 100%;

        padding: 0px;

        border-right: 1px solid rgba(200, 255, 255, 0.5);

        font-family: $font-google-icons;
        font-size: calc($logo-image-hight * 0.9);
        line-height: $logo-image-hight;
        font-weight: bold;
    }
}

@mixin web-name {
    display: block;
    float: left;

    width: auto;
    height: 100%;

    padding: 0px 5px;

    font-size: calc($logo-height * 0.7);
    list-style: $logo-height;
    font-family: $font-logo;
    color: white;
}

@mixin btn-display-categories {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    border: none;
    outline: none;

    padding: 0px;
    padding-left: 20px;

    color: inherit;
    font-size: 1.1rem;

    background-color: transparent;

    > .btn-icon {
        font-family: $font-google-icons;
        padding-right: 5px;
        font-size: 1.3rem;
    }
}

.logo {
    @include root();
    > .logo-image-wrap {
        @include logo-image-wrap();
    }
    > .web-name {
        @include web-name();
    }
    > .btn-display-categories {
        @include btn-display-categories();
    }
}
