$width: 222px;

@mixin root {
    display: block;
    overflow: hidden;

    width: $width;
    height: $logo-height;

    color: var(--highlight-dark-text-color);

    user-select: none;
    cursor: default;
}

@mixin logo-image-wrap {
    display: none;
}

@mixin web-name {
    display: block;
    float: left;

    width: $width;
    height: 100%;

    padding: 0px 5px;

    font-size: calc($logo-height * 0.7);
    list-style: $logo-height;
    font-family: $font-logo;
    color: white;

    cursor: pointer;
}

@mixin btn-display-categories {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    border: none;
    outline: none;

    padding: 0px;
    padding-left: 20px;

    color: inherit;
    font-size: 1.1rem;

    background-color: transparent;

    > .btn-icon {
        font-family: $font-google-icons;
        padding-right: 5px;
        font-size: 1.3rem;
    }
}

.logo {
    @include root();
    > .logo-image-wrap {
        @include logo-image-wrap();
    }
    > .web-name {
        @include web-name();
    }
    > .btn-display-categories {
        @include btn-display-categories();
    }
}

.logo.hide {
    width: 0px;
}
