// $height: 300px;
@mixin wrap {
    display: block;
    overflow: visible;

    width: 100%;
    height: 0px;
}

@mixin container {
    display: block;
    overflow: hidden;

    position: relative;
    z-index: 10;

    top: 0px;
    left: calc(($width - 60px) * -1);

    width: $width;
    height: 0px;

    border-radius: 5px;

    background-color: var(--background-color);

    box-shadow: 2px 2px 5px black, 2px 2px 10px black;

    transition: all 0.5s;
}

@mixin container-display {
    height: $height;
}

@mixin cart-preview {
    display: block;
    overflow: hidden;

    width: $width;
    height: $height;

    padding: 5px;
}

@mixin title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 40px;

    padding-left: 5px;

    font-weight: bold;
}

@mixin items {
    display: block;
    overflow-x: visible;
    overflow-y: auto;

    width: 100%;
    height: $height - 100px;

    &::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }

    > .item {
        width: calc(100% - 15px);
        margin: 10px 5px;
    }
}

@mixin buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 50px;

    padding-right: 10px;

    color: var(--background-color);

    > a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: auto;
        height: 40px;

        padding: 0px 10px;

        margin-left: 10px;
        margin-right: 10px;

        border-radius: 5px;

        color: inherit;
        font-weight: bold;
        text-decoration: none;

        background-color: var(--header-background-color);
    }
}

.cart-preview-wrap {
    @include wrap();
    > .container {
        @include container();
        > .cart-preview {
            @include cart-preview();
            > .title {
                @include title();
            }
            > .items {
                @include items();
            }
            > .buttons {
                @include buttons();
            }
        }
    }
}

.cart-preview-wrap.display {
    > .container {
        @include container-display();
    }
}
