.top-home {
    display: block;

    width: 100%;
    height: auto;

    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .carousel {
            width: 100%;
        }

        > .group-banner {
            display: none;
            // width: 300px;
        }
    }
}
