@import '../../../styles/globals-scss-variables.scss';

// @import './styles/devices/large.scss';

// < 1150px
@media only screen and (max-width: $min-width-small-devices) {
    @import './styles/devices/extra-small.scss';
}

// < 1150px
@media only screen and (max-width: $min-width-large-devices) and (min-width: $min-width-small-devices) {
    @import './styles/devices/medium.scss';
}

// >= 1150px
@media only screen and (min-width: $min-width-large-devices) {
    @import './styles/devices/large.scss';
}
