@mixin root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    height: auto;
}

@mixin product-card {
    margin: 10px 0px;
    width: min(calc(48vw - 10px), 270px);
}

.group-products {
    @include root();
    > .product-card {
        @include product-card();
    }
}
