.footer > .wrap > .item {
    --justify-content: flex-start;
    --display-link-icon: block;

    --margin: 0px;

    --text-align: justify;
    --link-text-align: left;
    &.center {
        --justify-content: center;
        --display-link-icon: none;

        --margin: auto;

        --text-align: center;
        --link-text-align: center;
    }
}

$underline-color: rgb(0, 100, 100);
$underline-color-hover: rgb(0, 255, 255);
$color: var(--dark-text-color);
$highlight-color: var(--highlight-dark-text-color);
$text-align: var(--text-align);
$margin: var(--margin);
$justify-content: var(--justify-content);
$display-link-icon: var(--display-link-icon);
$link-text-align: var(--link-text-align);
