@mixin variables {
    --product-card-width: 230px;
    --number-of-items: 0;
    --number-of-items-in-view: 4;
    --page-number: 0;
}

@mixin root {
    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;
}

@mixin buttons-wrap {
    display: block;
    width: 100%;
    height: 0px;
}

@mixin buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 344px;

    padding: 0px 10px;

    > button {
        display: block;
        position: relative;
        z-index: 3;

        width: 45px;
        height: 80px;

        outline: none;
        border: none;
        border-radius: 5px;

        font-size: 40px;

        background-color: rgba(255, 255, 255, 0.5);

        box-shadow: 3px 3px 7px black;
        transition: left 0.3s;

        cursor: pointer;
    }
}

@mixin products-wrap {
    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;
    padding: 10px 0px;

    scroll-behavior: smooth;
}

@mixin products-container {
    --width: calc(var(--number-of-items) * (100% / var(--number-of-items-in-view)));
    --min-left: calc((var(--number-of-items) * (100% / var(--number-of-items-in-view)) - 100%) * -1);
    --left: max(calc(100% * var(--page-number) * -1), var(--min-left));

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 0;

    left: var(--left);

    width: var(--width);
    height: auto;

    transition: left 0.3s;
}

@mixin product-card {
    width: max(min(var(--product-card-width), 280px), 230px);
}

.list-products-slider {
    @include variables();
    @include root();

    > .buttons-wrap {
        @include buttons-wrap();
        > .buttons-container {
            @include buttons-container();
        }
    }

    > .products-wrap {
        @include products-wrap();
        > .products-container {
            @include products-container();
            > .product-card {
                @include product-card();
            }
        }
    }
}
