@mixin product-card {
    width: min(var(--product-card-width), 270px);
}

.list-products-slider {
    --number-of-items-in-view: 2;
    --product-card-width: calc(48vw - 10px);
    --is-extra-small-device: 1;
}

.list-products-slider {
    overflow: hidden;
    > .products-wrap {
        position: relative;
        top: 10px;
        overflow-x: scroll;
        > .products-container {
            left: 0px;
            > .product-card {
                @include product-card();
            }
        }
    }
}
