.list-products-slider {
    --number-of-items-in-view: 4;
}

@mixin buttons-container {
    > button {
        transition: left 0.3s;

        cursor: pointer;
        &:nth-child(1) {
            left: -70px;
        }
        &:nth-child(2) {
            left: 70px;
        }
    }
}

@mixin buttons-container-hover {
    > button {
        left: 0px;
    }
}

.list-products-slider {
    > .buttons-wrap {
        > .buttons-container {
            @include buttons-container();
        }
    }
}

.list-products-slider:hover {
    > .buttons-wrap {
        > .buttons-container {
            @include buttons-container-hover();
        }
    }
}
