.info-customer {
    display: block;

    width: 100%;
    height: auto;

    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.1);

    padding: 20px;

    > h2 {
        display: block;
        width: 100%;

        margin-bottom: 5px;
    }

    > .container {
        display: block;

        width: 100%;
        height: auto;

        // padding: 5px;

        > .input {
            margin: 10px 0px;
        }
    }
}
