.category-wrap {
    display: block;
    width: 100%;
    height: auto;

    > .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 80px;
        > .right {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > .selection {
                --background-color: var(--header-background-color);
                --text-color: black;
                --highlight-text-color: white;
            }
        }
    }
}
