@use 'sass:math' as math;
$golden-ratio: (1 + math.sqrt(5))/2;

@debug $golden-ratio;

body {
    --golden-ratio: #{$golden-ratio};

    --header-background-color: rgb(0, 100, 100);
    --header-background-color: #0999db;
    --header-background-color: rgb(0, 190, 190);

    --background-color: rgb(240, 250, 255);

    --font-google-icons: 'Material Symbols Outlined';
    --dark-text-color: rgb(175, 175, 175);
    --light-text-color: rgb(0, 0, 0);
    --highlight-dark-text-color: rgb(255, 255, 255);
}
