@use 'sass:math' as math;
$golden-ratio: (1 + math.sqrt(5))/2;

// devices size
$min-width-extra-large-devices: 1450px;
$min-width-large-devices: 1150px;
$min-width-medium-devices: 950px;
$min-width-small-devices: 550px;
$max-width-extra-small-devices: 550px;

// fonts
$font-icons: 'FontAwesome', 'Material Symbols Outlined';
$font-google-icons: 'Material Symbols Outlined';
$font-logo: 'Rubik Puddles', cursive;
$font-category: 'Patrick Hand', cursive;
