* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import './imports.scss';

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    overflow-x: hidden;

    width: 100%;
    min-height: 150vh;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

#__next,
.page {
    display: block;

    width: 100%;
    height: auto;
}

.page {
    background-color: var(--background-color);
}

main {
    width: 100%;
    min-height: 90vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 3px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--header-background-color);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--header-background-color);
}
