// fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

// Patrick Hand
// font-family: 'Patrick Hand', cursive;
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

// font-icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    // width:2.14285714em;
    // top:.14285714em;
    // top: 10px;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0)
        format('woff2');
}

//
@import './globals-css-variables.scss';
