@import '../../../styles/globals-scss-variables.scss';

.container {
    display: block;

    width: 1000px;
    height: auto;

    padding: 0px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: $max-width-extra-small-devices) {
    .container {
        width: 96%;
    }
}

@media only screen and (min-width: $min-width-small-devices) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: $min-width-medium-devices) {
    .container {
        width: 90%;
    }
}

// > 1150px
@media only screen and (min-width: $min-width-large-devices) {
    .container {
        width: 1040px;
    }
}

@media only screen and (min-width: $min-width-extra-large-devices) {
    .container {
        width: 1300px;
    }
}
