$button-left: 100%;
$transition-time: 0.5s;

@mixin root {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px 0px;
}

@mixin buttons-wrap {
    display: block;
    width: 100%;
    height: 0px;
}

@mixin buttons-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: auto;
    aspect-ratio: calc(var(--golden-ratio) * var(--golden-ratio));
}

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    position: relative;
    z-index: 6;

    height: 100%;
    width: 10%;

    border: none;
    outline: none;

    background-color: transparent;

    cursor: pointer;

    > svg {
        position: relative;

        left: 0px;

        width: 60%;
        height: auto;
        aspect-ratio: 0.6;

        padding: 5px;

        border-radius: 5px;

        background-color: rgba(255, 255, 255, 0.5);

        box-shadow: 3px 3px 7px black;
        stroke: var(--header-background-color);
        stroke-width: 2px;
        fill: var(--header-background-color);

        transition: left $transition-time, background-color $transition-time;
    }

    &:active {
        > svg {
            box-shadow: 1px 1px 1px black;
        }
    }
}

@mixin layers-container {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: calc(var(--golden-ratio) * var(--golden-ratio));
}

@mixin layer-wrap {
    display: block;

    width: 100%;
    height: 0px;
}

@mixin layer {
    display: flex;
    align-items: center;
    overflow: hidden;

    width: 100%;
    height: auto;
    aspect-ratio: calc(var(--golden-ratio) * var(--golden-ratio));
}

@mixin image {
    display: none;
    position: relative;
    z-index: 0;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    border-radius: 5px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: none;
}

@mixin left {
    > .layer > .image {
        display: block;
        z-index: 1;

        left: -130%;
    }
}

@mixin left-move-left {
    > .layer > .image {
        transition: none;
    }
}

@mixin left-move-right {
    > .layer > .image {
        transition: left $transition-time;
    }
}

@mixin center {
    > .layer > .image {
        display: block;
        z-index: 3;

        transition: left $transition-time;
    }
}

@mixin right {
    > .layer > .image {
        display: block;
        z-index: 1;
        left: 130%;
    }
}

@mixin right-move-left {
    > .layer > .image {
        transition: left $transition-time;
    }
}

@mixin right-move-right {
    > .layer > .image {
        transition: none;
    }
}

@mixin indicators-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30px;

    > ul {
        display: block;

        width: auto;
        height: auto;

        > li {
            display: block;
            float: left;

            width: 10px;
            height: 10px;
            border-radius: 20px;

            margin: 0px 3px;

            background-color: var(--header-background-color);

            transition: width $transition-time;
            cursor: pointer;

            &.center {
                width: 40px;
            }
        }
    }
}

.carousel {
    @include root();
    > .buttons-wrap {
        @include buttons-wrap();
        > .buttons-container {
            @include buttons-container();
            > button {
                @include button();
            }
        }
    }
    > .layers-container {
        @include layers-container();
        > .layer-wrap {
            @include layer-wrap();
            > .layer {
                @include layer();
                > .image {
                    @include image();
                }
            }

            &.left {
                @include left();
            }

            &.center {
                @include center();
            }
            &.right {
                @include right();
            }
        }
    }
    > .indicators-container {
        @include indicators-container();
    }
}

.carousel.to-right {
    > .layers-container {
        > .layer-wrap {
            &.left {
                @include left-move-right();
            }
            &.right {
                @include right-move-right();
            }
        }
    }
}

.carousel.to-left {
    > .layers-container {
        > .layer-wrap {
            &.left {
                @include left-move-left();
            }
            &.right {
                @include right-move-left();
            }
        }
    }
}

// .carousel:hover{
//     >.buttons-wrap{
//         >.buttons-container {
//             >button{
//                 @include button-hover();
//             }
//         }
//     }
// }
