$button-left: 100%;
$transition-time: 0.5s;

@mixin root {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0px;
}

@mixin buttons-wrap {
    display: block;
    width: 100%;
    height: 0px;
}

@mixin buttons-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: auto;
    aspect-ratio: calc(var(--golden-ratio) * var(--golden-ratio));
}

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    position: relative;
    z-index: 6;

    height: 100%;
    width: 10%;

    border: none;
    outline: none;

    background-color: transparent;

    cursor: pointer;

    > svg {
        position: relative;

        width: 60%;
        height: auto;
        aspect-ratio: 0.6;

        padding: 5px;

        border-radius: 5px;

        background-color: rgba(255, 255, 255, 0.3);

        box-shadow: 3px 3px 7px black;
        stroke: var(--header-background-color);
        stroke-width: 2px;
        fill: var(--header-background-color);

        transition: left $transition-time, background-color $transition-time;
    }

    &:nth-child(1) {
        > svg {
            left: $button-left * -1;
        }
    }
    &:nth-child(2) {
        > svg {
            left: $button-left;
        }
    }
    &:hover {
        > svg {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &:active {
        > svg {
            box-shadow: 1px 1px 1px black;
        }
    }
}

// carousel hover
@mixin button-hover {
    > svg {
        left: 0px;
    }
}

@mixin layers-container {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: calc(var(--golden-ratio) * var(--golden-ratio));
}

@mixin layer-wrap {
    display: block;

    width: 100%;
    height: 0px;
}

@mixin layer {
    display: flex;
    align-items: center;
    // overflow: hidden;

    width: 100%;
    height: auto;
    aspect-ratio: calc(var(--golden-ratio) * var(--golden-ratio));

    // padding: 20px;
}

@mixin image {
    --width: calc(100% / (var(--golden-ratio) * 1.4));

    display: block;
    position: relative;
    opacity: 0;
    z-index: 0;

    top: 0px;
    left: calc(50% - var(--width) / 2);

    width: var(--width);
    height: auto;
    aspect-ratio: var(--golden-ratio);

    // border: thin solid black;
    border-radius: 5px;

    background-position: center;
    background-size: cover;
    transition: all $transition-time;
}

@mixin left {
    > .layer > .image {
        z-index: 1;
        opacity: 1;

        left: 0px;

        box-shadow: 2px 2px 3px black;
    }
}

@mixin left-move-left {
    > .layer > .image {
        transition-delay: $transition-time;
        transition-timing-function: ease-out;
    }
}

@mixin left-move-right {
    > .layer > .image {
        // transition-delay: $transition-time;
        transition-timing-function: ease-out;
    }
}

@mixin center {
    > .layer > .image {
        z-index: 3;
        opacity: 1;

        left: calc(100% - (100% / var(--golden-ratio)));

        width: calc(100% / var(--golden-ratio));

        box-shadow: 5px 5px 10px black;

        transition-delay: $transition-time * 0.8;
        transition-timing-function: ease-in;
    }
}

@mixin right {
    > .layer > .image {
        z-index: 1;
        opacity: 1;

        left: calc(100% - var(--width));

        box-shadow: 1px 1px 2px black;
    }
}

@mixin right-move-right {
    > .layer > .image {
        transition-delay: $transition-time;
        transition-timing-function: ease-in;
    }
}

@mixin indicators-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 40px;

    > ul {
        display: block;

        width: auto;
        height: auto;

        > li {
            display: block;
            float: left;

            width: 20px;
            height: 20px;
            border-radius: 20px;

            margin: 0px 3px;

            background-color: var(--header-background-color);

            transition: width $transition-time;
            cursor: pointer;

            &.center {
                width: 40px;
            }
        }
    }
}

.carousel {
    @include root();
    > .buttons-wrap {
        @include buttons-wrap();
        > .buttons-container {
            @include buttons-container();
            > button {
                @include button();
            }
        }
    }
    > .layers-container {
        @include layers-container();
        > .layer-wrap {
            @include layer-wrap();
            > .layer {
                @include layer();
                > .image {
                    @include image();
                }
            }

            &.left {
                @include left();
            }

            &.center {
                @include center();
            }
            &.right {
                @include right();
            }
        }
    }
    > .indicators-container {
        @include indicators-container();
    }
}

.carousel.to-right {
    > .layers-container {
        > .layer-wrap {
            &.left {
                @include left-move-right();
            }

            // &.center{

            // }
            &.right {
                @include right-move-right();
            }
        }
    }
}

.carousel.to-left {
    > .layers-container {
        > .layer-wrap {
            &.left {
                @include left-move-left();
            }

            // &.center{

            // }
            // &.right{
            //     @include right-move-right();
            // }
        }
    }
}

.carousel:hover {
    > .buttons-wrap {
        > .buttons-container {
            > button {
                @include button-hover();
            }
        }
    }
}
