@mixin root {
    display: block;

    width: $size;
    height: $size;

    color: var(--light-text-color);
}

@mixin icon {
    display: block;

    width: 100%;
    height: 100%;

    > strong {
        display: block;

        height: 100%;
        width: auto;
        aspect-ratio: 1;

        font-family: $font-google-icons;
        font-size: calc($size * 0.8);
        font-weight: 500;
        text-align: center;
        line-height: $size;

        color: var(--highlight-dark-text-color);
    }

    > span {
        display: block;

        width: 100%;
        height: 0px;

        &::before {
            content: attr(data-count);

            display: block;
            position: relative;
            z-index: 1;

            top: -40px;
            left: 40px;

            width: auto;
            height: 20px;

            border-radius: 10px;

            color: var(--header-background-color);
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            font-weight: bold;

            background-color: white;
        }
    }

    cursor: pointer;
}

.cart-button {
    @include root();
    > .icon {
        @include icon();
    }
}
