$height: 140px;

@mixin root {
    display: flex;
    align-items: center;

    width: 100%;
    height: auto;

    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.1);

    padding: 10px;

    margin: 10px 0px;
}

@mixin image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $height;
    height: $height;
    > img {
        max-width: 100%;
        max-height: 100%;
    }
}

@mixin info {
    display: block;
    padding-left: 10px;
    width: calc(100% - $height);
}

@mixin title {
    display: block;

    width: 100%;
    height: auto;

    padding-bottom: 5px;
    > a {
        font-weight: bold;
        font-size: 1.4rem;
        &:hover {
            color: var(--header-background-color);
        }
    }
}

@mixin price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 5px;
    > * {
        margin-right: 10px;
    }
    > strong {
        color: red;
        font-size: 1.2rem;
    }
    > span {
        color: gray;
        text-decoration: line-through;
    }
    > i {
        display: inline-block;

        border-radius: 5px;

        padding: 3px;

        background-color: red;

        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }

    > strong,
    > span {
        &::after {
            content: '\20ab';
            position: relative;
            top: -0.5em;
            font-size: 0.8em;
        }
    }
}

@mixin quantity-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;

    > label {
        position: relative;
        top: -2px;

        margin-right: 10px;

        font-size: 17px;
        text-align: left;
    }
}

@mixin buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 50px;

    > button {
        display: block;

        width: auto;
        height: 40px;

        border: thin solid var(--header-background-color);
        outline: none;
        border-radius: 5px;

        padding: 0px 10px;

        margin: 0px 5px;

        font-size: 17px;
        color: var(--header-background-color);

        background-color: transparent;

        &:hover {
            color: red;
            border-color: red;
        }
    }
}

.item {
    @include root();
    > .image {
        @include image();
    }
    > .info {
        @include info();
        > .title {
            @include title();
        }
        > .price {
            @include price();
        }
        > .quantity-container {
            @include quantity-container();
        }
        > .buttons {
            @include buttons();
        }
    }
}
