.total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border: 2px solid orangered;
    border-radius: 5px;

    padding: 20px 10px;

    margin-top: 10px;

    background-color: var(--background-color);

    > div {
        display: block;
        width: calc(100% - 120px);

        > span {
            font-size: 21px;
        }
        > strong {
            font-size: 23px;
            color: red;

            &::after {
                content: '\20ab';
                position: relative;
                top: -0.25em;

                font-size: 0.8em;
            }
        }
    }

    > button {
        display: block;
        width: 120px;
        height: 40px;

        outline: none;
        border: none;
        border-radius: 5px;

        color: white;
        font-size: 18px;
        font-weight: bold;

        background-color: orangered;
    }
}
