@mixin root {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 20;

    bottom: 0px;

    width: 100vw;
    height: 50px;

    background-color: white;

    box-shadow: 0px -2px 4px rgba(10, 30, 30, 0.5);
}

@mixin button {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80px;
    height: 50px;

    border: none;
    outline: none;
    color: rgba(0, 50, 50, 0.5);

    background-color: transparent;

    &.selected {
        color: var(--header-background-color);
    }
}

@mixin icon {
    display: block;
    width: 30px;
    height: 30px;

    font-family: $font-google-icons;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

@mixin label {
    display: block;

    width: auto;
    height: 18px;

    // font-family: $font-category;
    font-size: 15px;
    font-weight: 500;
}

.mobile-nav-bar {
    @include root();
    > a,
    > button {
        @include button();
        > * {
            &:nth-child(1) {
                @include icon();
            }
            &:nth-child(2) {
                @include label();
            }
        }
    }
}
