.highlight-list-products-slider {
    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;

    border-radius: 5px;

    padding: 10px 0px;

    > img {
        display: block;
        width: 100%;
    }
}
