.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: calc(100vh - 200px);

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        max-width: 100%;
        width: 600px;
        height: 600px;

        > strong {
            display: block;

            font-size: 120px;
            color: var(--header-background-color);
        }
    }
}
