@mixin root {
    display: block;

    width: 100%;
    height: auto;

    padding: 10px 0px;

    color: $color;

    background-color: black;
}

@mixin wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin item {
    display: block;

    height: auto;

    padding: 10px;
}

@mixin item-width {
    &.f100 {
        width: 100%;
    }
    &.f75 {
        width: 100%;
    }
    &.f50 {
        width: 50%;
    }
    &.f25 {
        width: 50%;
    }
}

@mixin title {
    display: block;

    width: 100%;
    height: auto;

    font-size: 1.5rem;
    font-weight: bold;
    color: $highlight-color;
    text-align: $text-align;

    > .underline {
        display: block;

        width: 40%;
        height: 2px;

        margin-left: $margin;
        margin-right: $margin;

        background-color: $underline-color-hover;
    }
}

@mixin description {
    display: block;

    width: 100%;
    height: auto;

    padding: 5px 0px;

    text-align: $text-align;
}

@mixin links {
    display: block;

    width: 100%;
    height: auto;

    padding: 5px 0px;

    li {
        display: block;

        width: 100%;
        height: auto;
        > a {
            display: flex;
            justify-content: $justify-content;
            align-items: center;

            width: 100%;
            height: auto;

            padding: 3px;

            text-decoration: none;
            color: inherit;
            font-size: initial;

            &::before {
                content: 'touch_app';
                display: $display-link-icon;
                height: 100%;
                width: 30px;

                font-family: $font-icons;
                font-size: initial;
                color: inherit;
            }

            > span {
                display: block;
                width: calc(100% - 30px);

                text-align: $link-text-align;
            }
        }
    }
}

@mixin icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;

    width: 100%;
    height: auto;

    padding: 5px 0px;

    > li {
        display: block;
        width: 40px;
        height: 40px;

        border-radius: 5px;
        //
        margin: 5px;
        //
        background-color: rgba(255, 255, 255, 0.2);

        > a {
            display: block;
            width: 100%;
            height: 100%;

            font-family: $font-icons;
            text-decoration: none;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
            color: rgb(0, 255, 255);
        }
    }
}

.footer {
    @include root();
    > .wrap {
        @include wrap();
        > .item {
            > .title {
                @include title();
            }
            > .description {
                @include description();
            }
            > .links {
                @include links();
            }
            > .icons {
                @include icons();
            }

            @include item();
            @include item-width();
        }
    }
}
