@mixin root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    min-width: 100%;
    min-height: 100%;

    padding-right: 5px;
}

@mixin label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    min-height: 40px;

    padding-left: 5px;
}

@mixin wrap {
    display: block;
    width: 0px;
    height: 0px;
}

@mixin ul {
    display: none;
    flex-direction: column;
    align-content: center;
    position: relative;
    z-index: 10;

    top: -5px;

    width: auto;
    min-width: 200px;

    border-radius: 5px;

    background-color: var(--header-background-color);

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.3);
}

@mixin ul-hover {
    display: flex;
}

@mixin li {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    min-height: 40px;

    border-radius: 3px;

    margin: 5px;

    color: var(--background-color);
    font-weight: 500;
    font-size: 17px;

    &:hover {
        background-color: var(--background-color);
        color: var(--header-background-color);
    }
}

.category-item-level-n {
    @include root();
    > .label {
        @include label();
    }
    > .wrap {
        @include wrap();
        > ul {
            @include ul();
            > li {
                @include li();
            }
        }
    }
}

.category-item-level-n:hover {
    > .wrap {
        > ul {
            @include ul-hover();
        }
    }
}
