@import '../../../styles/globals-scss-variables.scss';

@import './styles/variables.scss';

// extra-small
@media only screen and (max-width: $max-width-extra-small-devices) {
    @import './styles/devices/extra-small.scss';
}

// small
@media only screen and (min-width: $min-width-small-devices) {
    @import './styles/devices/small.scss';
}

// large
@media only screen and (min-width: $min-width-large-devices) {
    @import './styles/devices/large.scss';
}
