@import '../../../../../styles/globals-scss-variables.scss';

@mixin root {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: auto;
    height: 60px;
    min-width: 100px;

    padding: 0px 10px;

    // border: thin solid black;
    cursor: pointer;
}

@mixin a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: auto;
    height: auto;
}

@mixin image {
    display: block;

    width: 40px;
    height: 40px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin label {
    display: block;
    width: auto;
    height: auto;

    font-size: 18px;
    font-weight: 500;
    color: var(--background-color);
}

@mixin wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    width: 0px;
    height: 0px;
}

@mixin ul {
    display: none;
    flex-direction: column;
    align-content: center;
    position: relative;
    z-index: 10;

    width: auto;
    min-width: 200px;

    border-radius: 5px;

    background-color: var(--header-background-color);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.3);
}

@mixin ul-hover {
    display: flex;
}

@mixin li {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    min-height: 40px;

    border-radius: 3px;

    margin: 5px;

    color: var(--background-color);
    font-weight: 500;
    font-size: 17px;

    &:hover {
        background-color: var(--background-color);
        color: var(--header-background-color);
    }
}

.category-item-level1 {
    @include root();
    > a {
        @include a();
        > .image {
            @include image();
        }
        > .label {
            @include label();
        }
    }
    > .wrap {
        @include wrap();
        > ul {
            @include ul();
            > li {
                @include li();
            }
        }
    }
}

@media screen and (max-width: $min-width-large-devices) {
    .category-item-level1:hover {
        > .wrap {
            display: none;
        }
    }
}

@media screen and (min-width: $min-width-large-devices) {
    .category-item-level1:hover {
        > .wrap {
            > ul {
                @include ul-hover();
            }
        }
    }
}
