@import '../../../../../../../styles/globals-scss-variables.scss';

@mixin variables {
    --height: 80px;
}

@mixin root {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;

    border: thin solid rgba(0, 0, 0, 0.1);

    color: var(--light-text-color);

    padding: 5px;
}

@mixin root-hover {
    // background-color: rgba(10,50,50,0.1);
}

@mixin image {
    display: block;

    width: auto;
    height: 80px;
    aspect-ratio: 1;

    border-radius: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin container {
    display: block;

    width: calc(100% - 130px);
    height: auto;
    min-height: 80px;
}

@mixin title {
    display: block;

    width: 100%;
    height: auto;

    font-weight: bold;
}

@mixin price {
    display: block;

    color: red;
    font-weight: bold;
}

@mixin button {
    display: block;

    width: 40px;
    height: 40px;

    border: none;
    outline: none;

    background-color: transparent;

    font-family: $font-google-icons;
    font-size: 35px;
    color: red;

    &::before {
        content: 'delete';
    }

    &:active {
        &::before {
            content: 'delete_forever';
        }
    }
}

.item {
    @include root();
    > .image {
        @include image();
    }

    > .container {
        @include container();
        > .title {
            @include title();
        }
        .price {
            @include price();
        }
    }
    > button {
        @include button();
    }
}

// .item:hover{
//     @include root-hover();
// }
