@mixin root {
    display: block;
    font-family: $font-category;
    user-select: none;
}

@mixin container {
    display: flex;
    justify-content: center;
    flex-direction: row;

    border-radius: 5px;

    padding: 5px;

    background-color: var(--header-background-color);
}

.category {
    @include root();
    > .container {
        @include container();
    }
}
