@mixin root {
    display: block;
    position: relative;
    z-index: 18;

    width: 0px;
    height: 0px;
    font-family: $font-category;
}

@mixin cover {
    z-index: 18;
}

@mixin container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    z-index: 19;

    bottom: -300px;

    width: 100vw;
    height: 160px;

    border-radius: 5px;

    padding: 5px;

    background-color: var(--header-background-color);
    transition: bottom 0.3s;
    &.display {
        bottom: 50px;
    }
}

.category {
    @include root();
    > .cover {
        @include cover();
    }
    > .container {
        @include container();
    }
}
